In [1]:
import html5lib
import requests
import pandas as pd

def financial_statement(year, season, report_type='綜合損益表'):
    if year >= 1000:
       year -= 1911
    if report_type == '綜合損益表':
        url = 'https://mops.twse.com.tw/mops/web/t163sb04'
        header_rows = [0, 1, 2, 3]
        skip_rows = [4]
        class_name = 'hasBorder'
        index_col = 0
    elif report_type == '資產負債表':
        url = 'https://mops.twse.com.tw/mops/web/t163sb05'
        header_rows = [0, 1, 2, 3]
        skip_rows = [4]
        class_name = 'hasBorder'
        index_col = 0
    elif report_type == '營益分析查詢彙總表':
        url = 'https://mops.twse.com.tw/mops/web/t163sb06'
        header_rows = [0, 1, 2]
        skip_rows = [3, 4]
        class_name = 'hasBorder'
        index_col = 0
    else:
        print('report_type does not match')

    r = requests.post(url, {
        'encodeURIComponent': 1,
        'step': 1,
        'firstin': 1,
        'off': 1,
        'TYPEK': 'sii',
        'year': str(year),
        'season': str(season),
    })

    r.encoding = 'utf8'
    dfs = pd.read_html(r.text, header=header_rows, index_col=index_col, skiprows=skip_rows, attrs={'class': class_name}, na_values=['-'])

    df = pd.concat(dfs, axis=0, sort=False)
    df = df.dropna(how='all', axis=1)
    df = df.apply(pd.to_numeric, errors='coerce', downcast='integer')

    return df

In [2]:
financial_statement(109, 1, '營益分析查詢彙總表')

公司代號,公司名稱,營業收入(百萬元),毛利率(%)(營業毛利)/(營業收入),營業利益率(%)(營業利益)/(營業收入),稅前純益率(%)(稅前純益)/(營業收入),稅後純益率(%)(稅後純益)/(營業收入)
1101,台泥,"21,976.20",26.30,20.30,21.54,15.84
1102,亞泥,"13,138.88",20.53,15.39,11.94,8.60
1108,NaN,1104.72,16.55,9.97,9.44,8.47
1109,NaN,1165.58,27.72,18.64,16.15,11.77
1110,NaN,387.94,2.28,-3.25,-7.77,-7.98
1201,NaN,3974.42,28.07,1.13,0.09,0.65
1203,NaN,1583.09,34.39,17.74,18.52,13.44
...,...,...,...,...,...,...
9945,NaN,3859.11,19.38,8.90,79.84,77.75
公司代號,NaN,NaN,NaN,NaN,NaN,NaN
9946,NaN,556.20,35.60,26.42,26.80,25.84
9955,NaN,385.81,-8.20,-14.35,-12.68,-12.68
9958,NaN,1183.06,18.08,11.48,11.57,9.09

In [3]:
print(financial_statement(109, 1, '綜合損益表'))

公司代號 公司名稱      利息淨收益    利息以外淨損益 呆帳費用、承諾及保證責任準備提存       營業費用 繼續營業單位稅前淨利（淨損）  \
       彰銀  5,137,123  2,317,189          572,122  3,782,521      3,099,669
      京城銀  1,236,285    323,795          109,937    421,995      1,028,148
      台中銀  2,122,793    645,045          178,521  1,474,506      1,114,811
2834  NaN  4276912.0  1226887.0         870166.0  3091812.0      1541821.0
2836  NaN   643946.0   353238.0         120195.0   626804.0       250185.0
2838  NaN  1815400.0  1204615.0         135593.0  2388308.0       496114.0
2845  NaN  1471992.0   827357.0         233184.0  1663918.0       402247.0
2849  NaN   926761.0   569884.0         -47968.0   688026.0       856587.0
...   ...        ...        ...              ...        ...            ...
2891  NaN        NaN        NaN              NaN        NaN            NaN
2892  NaN        NaN        NaN              NaN        NaN            NaN
5880  NaN        NaN        NaN              NaN        NaN            NaN
2852  NaN        NaN        NaN              NaN        NaN            NaN
2867  NaN        NaN        NaN              NaN        NaN            NaN

公司代號 所得稅費用（利益） 繼續營業單位本期稅後淨利（淨損） 停業單位損益 合併前非屬共同控制股權損益  ... 所得稅費用（利益）  \
       606,885        2,492,784     --            --  ...         0
       134,614          893,534     --            --  ...    33,403
       235,121          879,690     --            --  ...    76,236
2834  271475.0        1270346.0    0.0           NaN  ...       NaN
2836   34703.0         215482.0    NaN           NaN  ...       NaN
2838  127462.0         368652.0    0.0           NaN  ...       NaN
2845   22814.0         379433.0    NaN           NaN  ...       NaN
2849  153037.0         703550.0    0.0           NaN  ...       NaN
...        ...              ...    ...           ...  ...       ...
2891       NaN              NaN    NaN           NaN  ...       NaN
2892       NaN              NaN    NaN           NaN  ...       NaN
5880       NaN              NaN    NaN           NaN  ...       NaN
2852       NaN              NaN    NaN           NaN  ...   23759.0
2867       NaN              NaN    NaN           NaN  ...  126771.0

公司代號 繼續營業單位本期純益（純損）  本期淨利（淨損） 其他綜合損益（稅後淨額）   本期綜合損益總額 淨利（淨損）歸屬於母公司業主  \
            -67,951   -67,951     -141,720   -209,671        -67,951
            130,320   130,320     -321,990   -191,670             --
            208,900   208,900     -554,389   -345,489             --
2834            NaN       NaN          NaN        NaN            NaN
2836            NaN       NaN          NaN        NaN            NaN
2838            NaN       NaN          NaN        NaN            NaN
2845            NaN       NaN          NaN        NaN            NaN
2849            NaN       NaN          NaN        NaN            NaN
...             ...       ...          ...        ...            ...
2891            NaN       NaN          NaN        NaN            NaN
2892            NaN       NaN          NaN        NaN            NaN
5880            NaN       NaN          NaN        NaN            NaN
2852      -172346.0 -172346.0    -466293.0  -638639.0            NaN
2867       644370.0  644370.0  -10449127.0 -9804757.0            NaN

公司代號 淨利（淨損）歸屬於非控制權益 綜合損益總額歸屬於母公司業主 綜合損益總額歸屬於非控制權益 基本每股盈餘（元）
                  0       -209,671              0     -0.32
                 --             --             --      0.36
                 --             --             --      0.66
2834            NaN            NaN            NaN       NaN
2836            NaN            NaN            NaN       NaN
2838            NaN            NaN            NaN       NaN
2845            NaN            NaN            NaN       NaN
2849            NaN            NaN            NaN       NaN
...             ...            ...            ...       ...
2891            NaN            NaN            NaN       NaN
2892            NaN            NaN            NaN       NaN
5880            NaN            NaN            NaN       NaN
2852            NaN            NaN            NaN     -0.57
2867            NaN            NaN            NaN      0.27

[911 rows x 82 columns]

In [4]:
financial_statement(109, 1, '資產負債表')

公司代號,公司名稱,現金及約當現金,存放央行及拆借銀行同業,透過損益按公允價值衡量之金融資產,透過其他綜合損益按公允價值衡量之金融資產,按攤銷後成本衡量之債務工具投資,避險之衍生金融資產淨額,附賣回票券及債券投資淨額,應收款項－淨額,當期所得稅資產,...,資本公積,保留盈餘,其他權益,庫藏股票,歸屬於母公司業主之權益合計,非控制權益,權益總計,待註銷股本股數（單位：股）,母公司暨子公司所持有之母公司庫藏股股數（單位：股）,每股參考淨值
,彰銀,"25,408,212","183,025,594","19,465,542","106,589,160","294,019,978","301,740",--,"20,149,569","422,411",...,0,"3,096,962","-21,345",--,"5,205,217",0,"5,205,217",--,0,24.44
,京城銀,"3,037,279","13,704,333","35,958,133","44,807,073","17,898,003",--,"950,548","4,508,336",--,...,"98,962","5,181,968","-368,931",--,--,--,"8,534,003",--,0,23.56
,台中銀,"9,372,078","35,952,725","21,960,739","33,176,656","109,303,636",--,"11,516,062","13,069,871","3,279",...,"64,777","7,842,851","261,516","-1,528",--,--,"11,327,249",0,"50,000",35.86
2834,NaN,28746480.0,79728337.0,18021541.0,103162480.0,244137680.0,NaN,1680280.0,29648375.0,4364.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2836,NaN,2520415.0,11659914.0,386152.0,17819691.0,48146223.0,NaN,3452734.0,1608017.0,26822.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2838,NaN,9053553.0,24525844.0,37342940.0,41627250.0,104004527.0,NaN,57608078.0,20068813.0,91196.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2845,NaN,13621864.0,30170350.0,48675304.0,135354696.0,2558531.0,NaN,12069271.0,20138326.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2849,NaN,2418814.0,13726694.0,13793870.0,38460162.0,35059704.0,NaN,2354306.0,4685599.0,56001.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,3273507.0,-112523.0,NaN,NaN,NaN,6172622.0,NaN,0.0,20.50
2867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1880917.0,21006433.0,-13782569.0,NaN,NaN,NaN,32824496.0,NaN,0.0,13.84